*~
/.cask/
/.dropbox
/.org-id-locations
/.project-roots
/abbrev_defs
/ac-comphist.dat
/backups/
/url/
/tramp
/swank/
/semanticdb/
/request/
/auto-save-list/
/eshell/
bookmarks
ido.last
recentf
/lisp/eshell-sensitive-conf.el
/projectile-bookmarks.eld
/smex-items
/transient/
/network-security.data
elpa/
.last-package-update-day
straight/
